.grid, .menu {
    border: solid 1px black;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 30px;
}

.header {
    padding: 40px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    width: 200px;
    height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.menuOptions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
}

.sizeSlider, #opacitySlider {
    width: 80%;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
}

.tile {
    box-sizing: border-box;
    border: 1px solid black;
    border-top: 0px;
    border-left: 0px;
}

button {
    background-color: aliceblue;
    padding: 5px 20px;
    border-radius: 5px;
    width: 80%;
}

.button-selected {
    background-color: chartreuse;
}