.grid, .menu {
    border: solid 1px black;
}

body {
    display: flex;
    padding: 20px 15% 20px 25%; /* top righ bottom left */
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    align-items: flex-end;
    gap: 30px;
}

.header {
    padding: 40px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    width: 240px;
    height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.menuOptions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
}

.tile {
    box-sizing: border-box;
    border: 1px solid black;
    border-top: 0px;
    border-left: 0px;
}